@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

html {
    height: 100%;
    min-height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
  }

.list-flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-flex-box-sidebar {
    flex-direction: column;
}

.user-and-lists {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon-flex-box {
    display: flex;
    flex-direction: row;
}

.icon-spacing {
    padding: 0px 6px 0px 6px;
}

.icon-hover:hover {
    color: #1abc9c;
}

.icon-hover-delete:hover {
    color: red;
}

.fa-check-square {
    size: 25px;
}

.fa-check-square.checked {
    color: #1abc9c;
}

.checked {
  color: #1abc9c;
}

#flash {
    background-color: red;
    color: #fff;
}

.hide {
  display: none;
}

.how-to-section {
  align-content: center;
  font-family: 'Montserrat', sans-serif;
  height: 10%;
  width: 60vw;
  padding: 2em;
  margin: auto;
  margin-top: 1em; 
  border: 1px solid #1d3e35;
  background-color: #949fb0;
  scroll-snap-align: start;
}

.how-to-section button {
  background-color: #478386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}

#how-to div {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

#how-to-title {
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
}

#how-to p {
  padding: 0px 0px 10px 25px;
}

#new-list {
  opacity: 50%;
}

/* modal */

.modal-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  height: 30%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; 
}

.modal button {
  background-color: #478386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}

/* Sidebar */

.sidebar {
  position: absolute;
  align-content: center;
  width: 250px;
  background-color: #1abc9c;
  top: 0px;
  margin-top: 10vh;
  padding-top: 40px;
}
  
.sidebar div {
  padding: 8px;
  display: block;
}

div.user-list-flex-box {
  display: inline-flex;
}

div.user-and-lists h2 {
  text-align: center;
}

div.all-user-lists h2 {
  padding-bottom: 10px;
  text-align: center;
}

/* nav bar */

#logo-img {
  padding: 0;
}

#logo-img img {
  width: 3em;
  height: 3em;
}

.navbar {
  position: relative;
}

div.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
  overflow: hidden;
  background-color: #1d3e35;
}

div.navbar-list a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  font-size: 17px;
}

div.navbar-list a:hover {
  background-color: #ddd;
  color: black;
}

/* *** */

* {
  box-sizing: border-box;
}

body {
  font-family: "fa5-proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: url("images/camping-background.jpg");
  background-size: cover;
  background-position: center center;
}

.wrapper {
  margin: 5em auto;
  max-width: 1000px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
}

.main-button {
  padding: 20px;
  text-align: center;
}

.header {
  padding: 30px 30px 0;
  text-align: center;
}
.header__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.1;
}
.header__subtitle {
  margin: 0;
  font-size: 1.5em;
  color: #949fb0;
  font-family: "Yesteryear", cursive;
  font-weight: 500;
  line-height: 1.1;
}

.cards {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}

.card {
  margin: 15px;
  width: calc((100% / 3) - 30px);
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 991px) {
  .card {
    width: calc((100% / 2) - 30px);
  }
}
@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}
.card:hover .card__inner {
  background-color: #1abc9c;
  transform: scale(1.05);
}
.card__inner {
  width: 100%;
  padding: 30px;
  position: relative;
  cursor: pointer;
  background-color: #949fb0;
  color: #eceef1;
  font-size: 1.5em;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.card__inner:after {
  transition: all 0.3s ease-in-out;
}
.card__inner .fa {
  width: 100%;
  margin-top: 0.25em;
}
.card__expander {
    transition: all 0.2s ease-in-out;
    background-color: #333a45;
    width: 100%;
    position: relative;
    align-items: center;
    color: #00040a;
    font-size: 1em;
    padding: 25px 10px 10px 10px;
    box-sizing: border-box;
}

.card__expander ul li {
  padding: 12px;
}

.card__expander .fa {
    font-size: 0.75em;
    color: seashell;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.card__expander .fa:hover {
    opacity: 0.9;
}
.card.is-collapsed .card__inner:after {
    content: "";
    opacity: 0;
}
.card.is-collapsed .card__expander {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0;
}
.card.is-expanded .card__inner {
    background-color: #1abc9c;
}
.card.is-expanded .card__inner:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #333a45;
}
.card.is-expanded .card__inner .fa:before {
    content: "";
}
.card.is-expanded .card__expander {
    max-height: 1000px;
    min-height: 200px;
    overflow: visible;
    margin-top: 30px;
    opacity: 1;
}
.card.is-expanded:hover .card__inner {
    transform: scale(1);
}
.card.is-inactive .card__inner {
    pointer-events: none;
    opacity: 0.5;
}
.card.is-inactive:hover .card__inner {
    background-color: #949fb0;
    transform: scale(1);
}

@media screen and (min-width: 992px) {
  .card:nth-of-type(3n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(3n+3) .card__expander {
    margin-left: calc(-200% - 60px);
  }

  .card:nth-of-type(3n+4) {
    clear: left;
  }

  .card__expander {
    width: calc(300% + 60px);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card:nth-of-type(2n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(2n+3) {
    clear: left;
  }

  .card__expander {
    width: calc(200% + 30px);
  }
}